# Postgres Configuration
POSTGRES_USER=jimwurst_user
POSTGRES_PASSWORD=jimwurst_password
POSTGRES_DB=jimwurst_db

# Data Ingestion
# Path to your external local data folder (PII Safe)
# Git will NEVER see this folder.
LOCAL_DATA_PATH=~/Documents/jimwurst_local_data
