# Postgres Configuration
POSTGRES_USER=ravioli_user
POSTGRES_PASSWORD=ravioli_password
POSTGRES_DB=ravioli_db

# Data Ingestion
# Path to your external local data folder (PII Safe)
# Git will NEVER see this folder.
LOCAL_DATA_PATH=~/Documents/ravioli_local_data
